blinker
certifi
charset-normalizer
click
et_xmlfile
Flask
flask-restx
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
openpyxl
packaging
psycopg2-binary
python-dotenv
pytz
requests
requests-cache
retry-requests
openmeteo-requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
